.form {
	width: 60%;
	margin-top: 2%;
}

.form textarea {
	font-size: 1em;
	max-width: 100%;
	width: 100%;
	height: 10em;
	word-wrap: break-word;
}

.form a {
	text-decoration: none;
	display: block;
	background: #234465;
	color: #fff;
	padding: 10px;
	width: fit-content;
	border-radius: 5px;
	border: none;
	border: 2px solid white;
	cursor: pointer;
	font-size: small;
	margin-bottom: 5px;
}

.form button {
	cursor: pointer;
	display: inline-block;
	margin: 0em 0.75em 0em 0em;
	color: #fff;
	text-decoration: none;
	font-size: small;
}
