.profile-img {
	width: 50%;
	max-width: 265px;
	display: block;
	margin: 0 auto;
}
.personal-info {
	vertical-align: top;
	padding: 10px;
	margin: 0 auto;
	color: #234465;
	width: 50%;
	text-align: center;
	font-size: large;
	font-weight: bold;
}
.personal-info p {
	margin-bottom: 1%;
}
