.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.comments {
	margin: 1.5em 0em;
	max-width: 60%;
}

.comments:first-child {
	margin-top: 0em;
}

.comments:last-child {
	margin-bottom: 0em;
}
