.input-style {
	width: 450px;
	padding: 30px;
	margin: 15px auto;
	background: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.input-style label {
	display: block;
	font: 18px Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	margin-bottom: 17px;
}
.input-style input[type="text"],
.input-style input[type="date"],
.input-style input[type="datetime"],
.input-style input[type="email"],
.input-style input[type="number"],
.input-style input[type="search"],
.input-style input[type="time"],
.input-style input[type="url"],
.input-style input[type="password"],
.input-style textarea,
.input-style select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
