.comment {
	width: fit-content;
	height: auto;
	border: 1px solid #234465;
	margin-bottom: 2%;
	border-radius: 4px;
	margin-top: 5px;
}

.content {
	word-wrap: break-word;
	padding: 0.5%;
	margin-bottom: 0.5%;
	width: 95%;
	display: inline-block;
	vertical-align: top;
}
