button {
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

.cancel-btn,
.delete-btn {
	font-size: large;
	float: left;
	width: 25%;
}

/* Add a color to the cancel button */
.cancel-btn {
	background-color: #ccc;
	color: black;
}

/* Add a color to the delete button */
.delete-btn {
	background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
	padding: 16px;
	text-align: center;
}

/* The Modal (background) */
.hidden-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}

.clearfix {
	display: flex;
	align-items: center;
	justify-content: center;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
	.cancel-btn,
	.delete-btn {
		width: 100%;
	}
}
