.input-tag {
	background: white;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px 5px 0;
}

.input-tag input {
	border: none;
	width: 100%;
}

.tags {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 100%;
}

.tags li {
	align-items: center;
	background: #85a3bf;
	border-radius: 2px;
	color: white;
	display: flex;
	font-weight: 300;
	list-style: none;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 5px 10px;
}

.tags li button {
	align-items: center;
	appearance: none;
	background: #333333;
	border: none;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	display: inline-flex;
	font-size: 12px;
	height: 15px;
	justify-content: center;
	line-height: 0;
	margin-left: 8px;
	padding: 0;
	transform: rotate(45deg);
	width: 15px;
}

.tags input {
	background: none;
	flex-grow: 1;
	padding: 0;
	margin: 0 auto;
	color: #ffffff;
}

.suggestions {
	border: 1px solid #999;
	border-top-width: 0;
	list-style: none;
	margin-top: 0;
	max-height: 143px;
	overflow-y: auto;
	padding-left: 0;
	width: 100%;
}

.suggestions li {
	padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
	background-color: #234465;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
}

.suggestions li:not(:last-of-type) {
	border-bottom: 1px solid #999;
}
